In [1]:
import pandas as pd
import numpy as np

# DataFrames (Veri Tabloları)
Pandas Dataframe, satır ve sütunlardan oluşan 2 boyutlu bir tablodur. Aşağıda bir dataframe oluşturalım:

In [4]:
pokemon = pd.DataFrame({
        'atak': [49, 52, 48, 55, 45],
        'savunma': [49, 43, 65, 40, 160],
        'hız': [45, 65, 43, 90, 70],
        'tür': ['ot', 'ateş', 'su', 'elektrik', 'kaya']
    },
    index=["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"]
)

pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

Dataframe'in sütunlarına ".columns" değeri ile erişelim.

In [5]:
pokemon.columns

Index(['atak', 'savunma', 'hız', 'tür'], dtype='object')

Dataframe hakkında genel bilgilere ulaşmak için ".info()" metedu kullanılır.

In [6]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Bulbasaur to Onix
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   atak     5 non-null      int64
 1   savunma  5 non-null      int64
 2   hız      5 non-null      int64
 3   tür      5 non-null      object
dtypes: int64(3), object(1)
memory usage: 200.0+ bytes

Toplam değer sayısına bakalım:

In [7]:
pokemon.size

20

Pokemon dataframe'inin biçimini (satır ve sütun sayısını) yazdıralım:

In [10]:
pokemon.shape

(5, 4)

Dataframe'in sayısal değerlerinin ortalama, sayı, standart sapma gibi değerlerini yazdıralım:

In [12]:
pokemon.describe()

            atak     savunma        hız
count   5.000000    5.000000   5.000000
mean   49.800000   71.400000  62.600000
std     3.834058   50.460876  19.398454
min    45.000000   40.000000  43.000000
25%    48.000000   43.000000  45.000000
50%    49.000000   49.000000  65.000000
75%    52.000000   65.000000  70.000000
max    55.000000  160.000000  90.000000

## İndeksleme, Seçme ve Dilimleme
İstediğimiz sütunu adı ile indeksleyerek seçebiliriz.

In [13]:
pokemon["hız"]

Bulbasaur     45
Charmander    65
Squirtle      43
Pikachu       90
Onix          70
Name: hız, dtype: int64

Dataframe'de de satırları sayısal indeksleriyle seçmek için ".iloc()" metodunu kullanabiliriz.

In [14]:
pokemon.iloc[1]

atak         52
savunma      43
hız          65
tür        ateş
Name: Charmander, dtype: object

Satırları normal indeksleriyle seçmek için ise ".loc()" metodunu kullanabiliriz.

In [16]:
pokemon.loc["Pikachu"]

atak             55
savunma          40
hız              90
tür        elektrik
Name: Pikachu, dtype: object

Dataframe'de de dilimleme gibi şeyler yapabiliriz. 2 boyutlu olduğu için şöyle yaparız:

In [17]:
pokemon.loc["Charmander":"Squirtle", "atak":"savunma"]

            atak  savunma
Charmander    52       43
Squirtle      48       65