In [2]:
import pandas as pd
import numpy as np

In [3]:
pokemon = pd.DataFrame({
        'atak': [49, 52, 48, 55, 45],
        'savunma': [49, 43, 65, 40, 160],
        'hız': [45, 65, 43, 90, 70],
        'tür': ['ot', 'ateş', 'su', 'elektrik', 'kaya']
    },
    index=["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"]
)

pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

# DataFrames: Koşullu Seçim ve Değiştirme

## Koşullu Seçim
Koşullu seçimi dataframe'de de serideki gibi yapabiliriz. Boolean seçim yapalım. Örneğin, hızı 60'dan büyük olan pokemonlara bakalım:

In [4]:
pokemon["hız"] > 60

Bulbasaur     False
Charmander     True
Squirtle      False
Pikachu        True
Onix           True
Name: hız, dtype: bool

Şimdi bu pokemonları dataframe üzerinde seçelim ve yazdıralım:

In [6]:
pokemon[pokemon["hız"] >  60]

            atak  savunma  hız       tür
Charmander    52       43   65      ateş
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

Bir dataframe aldık. Boolean seçim yapılmış dataframeden de istediğimiz sütunu seçebiliriz:

In [8]:
pokemon.loc[pokemon["hız"] >  60, "hız"]

Charmander    65
Pikachu       90
Onix          70
Name: hız, dtype: int64

## Veri Silme
Not: Silme operasyonunda "inplace" parametresini True yapmazsak tablo modifiye edilmez.

İstediğimiz satırı indeksini vererek silebiliriz:

In [9]:
pokemon.drop("Bulbasaur")

            atak  savunma  hız       tür
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

Birden çok satırı da silebiliriz:

In [10]:
pokemon.drop(["Pikachu", "Onix"])

            atak  savunma  hız   tür
Bulbasaur     49       49   45    ot
Charmander    52       43   65  ateş
Squirtle      48       65   43    su

İstediğimiz sütunları da silebiliriz. "drop" metodunda "axis" parametresi varsayılan olarak 0'dır ve bu da satırlar demektir. Bu parametreyi 1 yaparak sütun silebiliriz.

In [11]:
pokemon.drop(["hız", "tür"], axis=1)

            atak  savunma
Bulbasaur     49       49
Charmander    52       43
Squirtle      48       65
Pikachu       55       40
Onix          45      160

## Operasyonlar
Dataframe'de birden fazla sütuna aynı anda işlemler yapabiliriz. Örneğin, atak ve savunmayı 10'a bölelim:

In [16]:
pokemon[["atak", "savunma"]] / 10

            atak  savunma
Bulbasaur    4.9      4.9
Charmander   5.2      4.3
Squirtle     4.8      6.5
Pikachu      5.5      4.0
Onix         4.5     16.0

Tüm atak puanlarına 10, savunma puanlarına 5 sayılarını aynı anda ekleyelim:

In [13]:
pokemon[["atak", "savunma"]] + [10, 5]

            atak  savunma
Bulbasaur     59       54
Charmander    62       48
Squirtle      58       70
Pikachu       65       45
Onix          55      165

## Dataframe'leri Değiştirme/Düzenleme
### Yeni sütun ekleme
Yeni sütun ekleyebiliriz. Örneğin, pokemonların metre cinsinden "boy" bilgilerini bir seri olarak oluşturalım ve dataframe'e ekleyelim.

In [18]:
boylar = pd.Series([0.7, 0.6, 0.5, 0.4, 8.8], index=pokemon.index)
boylar

Bulbasaur     0.7
Charmander    0.6
Squirtle      0.5
Pikachu       0.4
Onix          8.8
dtype: float64

Pokemon dataframe'inde "boy" adında bir sütun oluşturalım ve boylar serisini bu sütuna atayalım.

In [20]:
pokemon["boy"] = boylar
pokemon

            atak  savunma  hız       tür  boy
Bulbasaur     49       49   45        ot  0.7
Charmander    52       43   65      ateş  0.6
Squirtle      48       65   43        su  0.5
Pikachu       55       40   90  elektrik  0.4
Onix          45      160   70      kaya  8.8

### Bir sütundaki tüm değerleri değiştirme
Tüm boy değerlerini 1 yapalım:

In [22]:
pokemon["boy"] = 1
pokemon

            atak  savunma  hız       tür  boy
Bulbasaur     49       49   45        ot    1
Charmander    52       43   65      ateş    1
Squirtle      48       65   43        su    1
Pikachu       55       40   90  elektrik    1
Onix          45      160   70      kaya    1

Bir şeye dikkat çekelim. Boy sütunu kesirli sayılardan oluşuyodu ancak tam sayı olan 1 değerine eşitledikten sonra tam sayılardan oluşuyor. Boy sütununun veri tipine bakarak da bunu gösterelim:

In [23]:
pokemon["boy"].dtype

dtype('int64')

Boy değerlerini tekrar yerine koyalım:

In [24]:
pokemon.boy = boylar

### Yeniden adlandırma
Sütun adlarını ingilizce karşılıkları ile yer değiştirelim:

In [27]:
pokemon.rename(
    columns={
        "atak": "attack",
        "savunma": "defense",
        "tür": "type",
        "hız": "speed",
        "boy": "height"
    },
    inplace=True
)
pokemon

            attack  defense  speed      type  height
Bulbasaur       49       49     45        ot     0.7
Charmander      52       43     65      ateş     0.6
Squirtle        48       65     43        su     0.5
Pikachu         55       40     90  elektrik     0.4
Onix            45      160     70      kaya     8.8