# NaN (Null, Boş) Değerler
Pandas ve NumPy'da bazen değerlerin "NaN" olduğunu görürüz. Peki bu değerler nedir? NaN değerler verinin boş olduğunda (orada veri olmadığında), geçersiz olduğunda görülen değerlerdir. Bu durum verinin gerçekten boş olmasından ya da teknik aksaklıklardan (verinin elde edilmesinde olan hatalardan, verinin elde edilirken bozulmasından) da kaynaklanabilir. Örneğin; bitcoin verisi bir zaman aralığı için elde edilememiş olabilir, bu durum da o zaman aralığındaki değerin NaN olmasına yol açabilir. Ya da bir ankette birisi yaş değerini negatif girmiş olabilir ve yaş değerini kontrol eden algoritma bu değeri NaN olarak kaydetmiş olabilir.

Pandas'ta NaN değerlerle yapılabilen işlemlere bakalım. NumPy ve Pandas'ı import edelim:

In [1]:
import numpy as np
import pandas as pd

Python'da NaN değerini "np.nan" ya da "None" kullanarak gösterebiliriz. Pandas bize NaN değerleri kontrol etmek ve belirlemek için bazı fonksiyonlar sunar.

In [3]:
value = np.nan
print(pd.isnull(value), pd.isna(value))

True True

Bu işlemlerin tersi ise şu fonksiyonlarla yapılabilir:

In [5]:
value = None
print(pd.notnull(value), pd.notna(value))

False False

Bu fonksiyonlar Seri ve Dataframe'lerde de çalışır:

In [6]:
pd.isnull(pd.Series([None, 2, np.nan, ""]))

0     True
1    False
2     True
3    False
dtype: bool

In [8]:
pd.isna(pd.DataFrame({
    'Sütun A' : [1, np.nan, 7],
    'Sütun B' : [np.nan, 2, np.nan]
}))

   Sütun A  Sütun B
0    False     True
1     True    False
2    False     True

## Pandas ile NaN değerlerde işlem yapma
Eğer bir matematiksel işlem yapıyorsak Pandas NaN değerleri görmezden gelir ve işlemde hata vermez.

In [10]:
pd.Series([1, 2, np.nan]).sum()

3.0

## Boş (Null) verileri filtreleme
Pandas ile önce boş değerleri bularak sonra da boolean filtreleme yaparak boş değerleri filtreleyebiliriz:

In [11]:
s = pd.Series([1, 2, np.nan, 4, np.nan])
s[pd.notnull(s)]

0    1.0
1    2.0
3    4.0
dtype: float64

## Boş verileri silme
Pandas bize "dropna" adlı metodu ile kolayca boş verilerden kurtulmayı sağlar:

In [12]:
s.dropna()

0    1.0
1    2.0
3    4.0
dtype: float64